nav {
    height: 10vh;
    width: 100vw;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
        display: flex;
        li {
            margin : 0 2rem;
            list-style: none;
            a {
                text-decoration: none;
            }
        }
    }
}