<nav>
    <ul>
        <li>
            <a routerLink="/bases">Bases</a>
        </li>
        <li>
            <a routerLink="/services">Services et Formulaires</a>
        </li>
        <li>
            <a routerLink="/observables">Observables</a>
        </li>
    </ul>
</nav>
